// DARK THEME
$primary-100: #38196e;
$primary-200: #4f307e;
$primary-300: #65488d;
$primary-400: #7a609d;
$primary-500: #9079ad;
$primary-600: #a692bd;

$surface-100: #161417;
$surface-200: #2b292c;
$surface-300: #424043;
$surface-400: #5a585b;
$surface-500: #737274;
$surface-600: #8d8c8e;

$font-color-100: #e9dce5;
$font-color-200: #d3b9cb;
$font-color-300: #bd96b1;
$font-color-400: #a77397;
$font-color-500: #91507d;
$font-color-600: #7b2d63;

// LIGHT THEME
$primary-100-light: #756aeb;
$primary-200-light: #8a7ff3;
$primary-300-light: #9f94fa;
$primary-400-light: #b4a9ff;
$primary-500-light: #c9beff;
$primary-600-light: #ded3ff;

$surface-100-light: #ffffff;
$surface-200-light: #f2f2f2;
$surface-300-light: #e6e6e6;
$surface-400-light: #d9d9d9;
$surface-500-light: #cccccc;
$surface-600-light: #bfbfbf;

$font-color-100-light: #000000;
$font-color-200-light: #1a1a1a;
$font-color-300-light: #333333;
$font-color-400-light: #4d4d4d;
$font-color-500-light: #666666;
$font-color-600-light: #808080;
